<table class="table" >
    <tbody>
        <% if post.image.attached? %>
                <%= image_tag post.image%>
        <% else %>
                <%= image_tag 'no_image.jpg' %>
        <% end %>
        <div>名前：<%= customer.name %></div>
        <tr>
            <th>フォロー</th>
	        <th><%= link_to customer.followings.count, customer_followings_path(customer) %></th>
        </tr>
        <tr>
            <th>フォロワー</th>
	        <th><%= link_to customer.followers.count, customer_followers_path(customer) %></th>
        </tr>
    </tbody>
</table>    