<div class="container">  
  <div class="row center">
    <div class="col-lg-5">
    
    <h2>edit</h2>

          <%= form_with model:@customer ,local:true do |f| %>
           
          
            <div class="mb-3">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true%>
            </div>
            
            <div class="mb-3">
              <%= f.label :image %><br>
              <%= f.file_field :image %>
            </div>
            
            <div class="actions">
              <%= f.submit "変更する" ,class:" btn btn-lg btn-primary mt-3"%>
            </div>
          <% end %>
    </div>
  </div>
</div>
