    <div class="container">  
        <div class="row">
            
            <div class="col-md-3 p-4 border rounded h-50 " >
                
                <!--ユーザーサイドバー-->
                <%= render 'customers/customers/info', post: current_customer, customer: current_customer %>
                
                 <!--投稿フォーム-->
                <%= render 'customers/posts/form', post: @post %>
                
            </div>
            <div class="col-md-8 offset-md-1">
                <% @customers.each do |customer| %>
                <div class=" col-8 p-2 mt-1 border rounded ">
                    <div class="col-12 d-flex">
                                 
                    <!--画像-->
                    <div class="col">
                    <%= render "customers/shared/image_attached", post: customer %>
                    <%= link_to customer.name,customer_path(customer.id) %>
                    </div>
                    <!--フォローボタン-->
                    <div class="col mt-3">
                    <%= render "customers/relationships/follow" , customer: customer %>  
                    </div>
           
                    </div>
      
                </div>
                <% end %>
            </div>
        </div>
    </div>