    <div class="container">  
        <div class="row">
            
            <div class="col-md-3 p-4 border rounded h-50 " >
                
                <!--ユーザーサイドバー-->
                <%= render 'customers/customers/info', post: current_customer, customer: current_customer %>
                
                 <!--投稿フォーム-->
                <%= render 'customers/posts/form', post: @post %>
                
            </div>
            <div class="col-md-8 offset-md-1">
                <% @customers.each do |customer| %>
                <div class=" col-8 p-4  border rounded mt-3 d-flex ">
                    <div class="col-4">
                        
                    <!--画像-->
                    <%= render "customers/shared/image_attached", post: customer %>
                    
                    </div>
                    <div class="col-4">
                    <div><%= customer.name %></div>
                    <div><%=  %></div>
                    <div><%= link_to "詳細", customer_path(customer.id) %></div>
                    </div>
                    
                </div>
                <% end %>
            </div>
        </div>
    </div>