    <%= form_with model:post ,local: true do |f| %>
        <div class="form-group">
            <%= f.label :supplement %>
            <%= f.text_field :supplement, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content, class: 'form-control' %>
        </div>
        <div class="field">
            <%= f.label :タグ %>
            <%= f.text_field :tag_list, class: 'form-control',value: post.tag_list.join(',') %>
　　    </div>
        <div class="form-group">
            <%= f.submit "投稿する", class: 'btn btn-primary' %></div>
    <% end %>