                <% @posts.each do |post| %>
                <div class="col-8 pt-4 pb-4 mt-5 border rounded shadow bg-white">
                    
                    <div class="row">
                        <!--プロフィール画像-->
                        <div class="col-md-3 col-sm-4"><%= render "customers/shared/image_attached", post: post %></div>
                        <!-----投稿時間-------->
                        <div class="col-md-4 col-sm-4"><%= l post.created_at, format: :short %></div>
                        <!--フォローボタン-->
                        <% if current_customer.id == post.customer.id %>
                            <div class="col-md-2 col-sm-2 offset-md-2"><i class="fas fa-user-check fa-3x"></i></div>
                        <% else %>
                            <div id="follow_<%= post.customer_id %>" class="col-md-5 col-sm-4"><%= render "customers/relationships/follow",customer: post.customer %></div>
                        <% end %>
                    </div>
                        <div class="col-12 p-3"><%= link_to post.customer.name ,customer_path(post.customer.id)%></div>
                        <!--タグ-->
                        <div class="p-2"><%= render 'customers/posts/tag_list', tag_list: post.tag_list %></div>
                        
                        <!----投稿画像 ----->
                        <div>
                            <% if post.post_image.attached? %>
                                <%= image_tag post.post_image.variant(resize:'400x400')  %>
                            <% end %>
                        </div>
                       
                        <div class="sentiment-score p-2">感情分析スコア: <strong><%= post.score %></strong>点</div>
                    
                        <div class="col-12 text-break mt-2"><%= post.content %></div>
                    <div class="row pt-3 offset-md-7">
                          <div class="mr-3 bd-highlight">いいね: <%= post.favorites.count %></div>
                          <div class="bd-highlight">コメント:<%= post.post_comments.count %></div><!--コメント数-->
                    </div>
                    <div class="row col-md-12 justify-content-between pt-3">
                          <div class="col-md-3"><%= link_to "詳細",post_path(post.id),class:"btn btn-info"%></div>
                          <!----削除ボタン------>
                          <% if current_customer.id == post.customer.id %>
                              <div class="col-md-3"><%= link_to "削除",post_path(post.id) ,class:"btn btn-danger" ,method: :delete,remote: true %></div>
                          <% end %>
                    </div>
                </div>
                <% end %>