    <div class="container">  
        <div class="row">
            <div class="col-md-3 p-4 border rounded h-50 " >
                
                <!--ユーザーサイドバー-->
                <%= render 'customers/customers/info' , post: current_customer, customer: current_customer %>
                
                 <!--投稿フォーム-->
                <%= render 'customers/posts/form', post: @post_new %>
                
            </div>
            
            <div class="col-md-8 offset-md-1">
                <% @posts.each do |post| %>
                <div class=" col-8 p-4  border rounded mt-3 ">
                    
                    <!--画像-->
                    <%= render "customers/shared/image_attached", post: post %>
                    
                    <!--フォローボタン-->
                    <%= render "customers/relationships/follow",customer: post %>
                    
                    <div><%= post.supplement %></div>
                    <div><%= post.content %></div>
                    <div>いいね <%= post.favorites.count %></div>
                    <%= link_to "詳細", post_path(post.id) %>
                </div>
                <% end %>
            </div>
        </div>
    </div>