<div class="container">  
        <div class="row">
            
            <div class="col-md-3 p-4 border rounded h-50 " >
                
                <!--ユーザーサイドバー-->
                <%= render 'customers/customers/info', post: @post, customer: @post.customer_id %>
                
                <!--投稿フォーム-->
                <%= render 'customers/posts/form', post: @post_new %>
                
            </div>
            
            <div class="col-md-8 offset-md-1">
                <div class=" col-9 p-4  border rounded mt-3 ">
                    <div class="col-8 d-flex">
                        
                        <div class="col-auto border rounded">
                            <!--画像-->
                            <%= render "customers/shared/image_attached", post: @post %>
                        </div>
                        
                        <div class="col-auto ">
                            <!--フォローボタン-->
                        <%= render "customers/relationships/follow",customer: @customer  %>
                        </div>
                        
                    </div>
                    <ul>
                        <li><%= @post.content %></li>
                        <li><%= @post.supplement %></li>
                        <li>ジム</li>
                        <li>タグ</li>
                    </ul>

                    <!--コメントフォーム-->
                    <td><%= render "customers/post_comments/post_comment" %></td>
                    
                    <div class="h3 pt-3"> コメント一覧</div>
                    <% @post_comments.each do |comment| %>
                        <div class="col-5 pt-3">
                            
                		    <%= link_to customer_path(comment.customer) do %>
                  		        <%= comment.customer.name %>
                		    <% end %>
                		    <%= comment.comment %>
                            <% if current_customer == comment.customer %>
                                <%= link_to 'Destroy',post_post_comment_path(comment.post_id, comment.id), class: 'btn-sm btn-danger', method: :delete ,remote: true%>
                            <% end %>
                            
                        </div>
                    <% end %>
                </div>
                
                <!--いいねボタン-->
                <%= render "customers/favorites/favorite", post: @post %>
                
                <%= @post.favorites.count %>
                <%= link_to "編集", edit_post_path(@post.id) %>
            </div>
        </div>
    </div>